#no .bak files

*.bak



#no pin dump

c5_pin_model_dump.txt



#backup memory files
resources/*.qip
resources/*bb.v

#no quartus project files

*.cdf
*.qpf

*.qsf

*.qws



#no quartus project folders

db/

greybox_tmp/

incremental_db/

output_files/

simulation/

#register sof programming file
!output_files/zelda_game.sof